#header-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#title-container{
    width: 20%;
}

#title-container i{
    font-size: 35px;
    margin-right: 10px
}
.image-ring .ui-ring-item {
    border: 0 none;
}

.image-ring .ui-ring-item img {
    width: 100%;
}
.asiento{

}
#search-bar{
    width: 50%;
}
.nav li{
    text-align: center;
    padding: 0;
}
.nav li i{
    font-size: 30px;
    margin: 0px;
    display: block;
    width: 100%;
    height: 50%;
}
.nav li a{
    margin: 0px;
    display: block;
    width: 100%;
    height: 50%;
    padding-top: 0;
}
.nav-item{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.ui-selectlistbox-listcontainer{
    max-height: 133px;
}
.nav-tabs .nav-tab {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    padding: 0.75rem 1.375rem;
    border-radius: 1.5em;
    line-height: 1;
    font-weight: 500;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.65rem 1rem;
    font-size: .75rem;
    border: none;
    text-align: center;
    font-weight: 400;
}

.nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 0.5rem;
}
.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0.3rem 1.625rem 0.3rem;
    height: 3.75rem;
    border-bottom-right-radius: 1.875rem;
}
.imagen-logo{
    width: 2000px;
    height: 90px;
    margin-bottom: 5px;
    margin-right: 2px;
    object-fit: cover;
    transition: all 0.6s;
}
.imagen-final{
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.imagen-pelicula{
    width: 50px;
    height: 150px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 2px;
    object-fit: cover;
    transition: all 0.6s;
}

.imagen-producto:hover {
    width: 180px;
    height: 180px;
    transition: all 0.6s;
    cursor:pointer;
}
.item-pro{
    margin-bottom: 10px;
}
.icon-menu{
    font-size: 1.5rem;
}

.imagen-producto{
    max-width: 150px;
}

.item-pro{
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-grid {
    width: 100% !important;
    margin: 0 !important;
}

.box2 {
    padding: 30px 0;
}
.ui-dataview-list .ui-dataview-row {
    border-bottom: 1px solid #A8A8A8 !important;
    padding: 25px 10px;
}

.box, .sample-layout>div {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
}

.box, .lista-carac {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.font {
    font-size: 20px;
    font-family: "Verdana";
}
.product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
.movie-box {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    height: 127%;
}
.ui-galleria{
    width: 80% !important;
    margin: 0 auto;
}
.movie-box .img {
    background-color: #00000008;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 0;
    display: block;
    padding-bottom: 150%;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 55%) 10px 10px 20px 0;
    position: relative;
    overflow: hidden;
    transition: transform .25s;
    transition: transform .25s,-webkit-transform .25s;
}

.ui-galleria-panel-wrapper, .ui-galleria-panel{
    width: 100% !important;
}

.ui-galleria-panel img{
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}

.imagen-default{
    max-width: 90%;
}

.card-text{
    min-height: 48px;
}

.ui-galleria{
    border: 0px !important;
}

.ui-galleria-frame-content img{
    max-width: 60px;
    width: auto !important;
}

.ui-datalist-item p{
    font-weight: normal;
}

.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
    display: table;
    clear: both;
}

.blog-comment ul{
    list-style-type: none;
    padding: 0;
}

.blog-comment img{
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.blog-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 65px;
    height: 65px;
}

.blog-comment .post-comments{
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
    position: relative;
}

.blog-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}

.blog-comment-form{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
}

.comentario-usuario{
    width: 450px;
    height: 90px;
}

.ui-datalist-item p{
    font-weight: normal;
}

.btn-white{
    color: black !important;
}

#lista-com_content{
    border: none;
}

@media only screen and (max-width: 768px) {
    .comentario-usuario{
        width: 100%;
    }
}

#info-sesion{
    position: relative;
    display: inline-block;
}

#info-sesion > *{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.carrito-img{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 2px;
    object-fit: cover;

}

.alignmenta{

    align-items: revert;
}

#dropdownMenuButton{
}

.dropdown-menu li:hover{
    background-color: rgba(13,137,236,0.5);
}

#heart-button2 .ui-icon, #heart-button1 .ui-icon{
    font-size: 30px;
}